[Desktop Entry]
Version=1.0
Type=Link
Name=out-5.gif
Comment=
Icon=user-bookmarks
URL=https://dragon.online-convert.com/download-file/bd5988a3-7312-430c-b529-aab4bd37e333/615459ec-e191-4efc-bae2-549ed98574b8
